# Logistic Regression

```
Author:
    Zach Wolpe
    zachcolinwolpe@gmail.com
    www.zachwolpe.com
```

Logistic Regression with binary response variables from scratch.


## Data

$$\mathbf{X} = AGE$$

$$\mathbf{Y} = \text{Default Loan}$$

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('logit_data.csv')
df.head()

   age  chd
0   20    0
1   23    0
2   24    0
3   25    0
4   25    1